p {
    margin-bottom: .5rem;
    font-size: .75rem;
}

#splash-container {
    height: 444px;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 80px;
    background-image: url('/static/images/pastel.jpg');
    background-size: cover;
}

#splash-info {
    margin: auto;
    text-align: center;
}

#home-info-container {
    height: 300px;
    width: 100%;
    text-align: center;
    padding-top: 80px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    width: 25px;
    height: 25px;
}

.nav-link {
    padding-right: 1rem;
    padding-left: 1rem; 
}

#main-header {
    height: 10%;
    text-align: center;
}

.header {
    height: 2rem;
    text-align: center;
}

.dropdown-menu {
    border: none;
    font-family: sans-serif;
    color: green;
}

.dropdown-toggle {
    width: 100%;
}

.dropdown-menu {
    align-items: center;
    width: 100%;
}

.dropdown-item {
    text-align: center;
}

#request-form-container {
    padding: 5%;
    background-color: grey;
}

#loginForm {
    width: 75%;
    margin: auto;
}

.loginButton {
    width: 100%;
}

.edit-modal-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.error-message {
    color: red
}
