p {
    margin-bottom: .5rem;
    font-size: .75rem;
}

#nav-header {
    background-color: white;
}

#login-container {
    height: 40px;
    width: 100%;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.login-link {
    float: right;
}

.navbar {
    background-color: white;
    color: white;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    width: 25px;
    height: 25px;
}

.nav-item {
    color: red;
}

.nav-link {
    padding-right: 1rem;
    padding-left: 1rem; 
}

#main-header {
    height: 10%;
    text-align: center;
}

.header {
    height: 2rem;
    text-align: center;
}

.dropdown-menu {
    border: none;
    font-family: sans-serif;
    color: green;
}

/*#splash-container {
    background-image: url('/static/images/sunset.jpg');
    background-size: cover;
    width: 100%;
    height: 60%;
}*/

.home-page-wrapper{
    padding: 4rem 0 4rem 0;
}

.home-page-info {
    text-align: center;
    padding: 1rem;
}

.dropdown-toggle {
    width: 100%;
}

.dropdown-menu {
    align-items: center;
    width: 100%;
}

.dropdown-item {
    text-align: center;
}

#request-form-container {
    padding: 5%;
    background-color: grey;
}

#loginForm {
    width: 75%;
    margin: auto;
}

.loginButton {
    width: 100%;
}

.edit-modal-container {
    padding-top: 15px;
    padding-bottom: 15px;
}
