/*Professional and Modern Color Scheme {
 *  Screen: #c6c1c0,
 *  Steel: #0a1612,
 *  Denim: #1a2930,
 *  Marigold: #f7ce3e
 * }
 */


label {
    font-size: 13px;
}


/*.dropdown-menu {
    border: none;
    font-family: sans-serif;
    color: green;
}

.dropdown-toggle {
    width: 100%;
}

.dropdown-menu {
    align-items: center;
    width: 100%;
}

.dropdown-item {
    text-align: center;
}*/

.edit-modal-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.error-message {
    color: red
}

@media (max-width: 576px) {
    #quote-row {
        padding: 25px;
    }
    #request-form-container {
        padding: 25px;
    }
}

